	/*==========  Non-Mobile First Method  ==========*/


	/* Large Devices, Wide Screens */
	@media only screen and (max-width : 1200px) {
		.header-container {
			max-width: auto;
	    	padding: 40px 100px;			
		}

		.profile {
		    display: grid;
		    grid-template-columns: 1fr 1fr 1fr;
		    grid-gap: $gutter;
		    padding-left: 80px;
		}

		.profile-pix {
		    text-align: center;
		   	padding-left: 40px;
		    padding-right: 20px; 
		}

		.about-me{
		    width: 250px;

		}
		img {
		    width: 200px;
		    height: auto;
		    margin: 20px 0px; 
		}
		.deatails {
			padding-left: 25px;
		}
		/*COPY*/
		.education-copy, .career-copy,
		.skills-copy {
		    padding-left: 15px;
		}

		/*EXPERIENCE*/
		.experience-section { background-color: #EDEDED; max-width: 960px; margin: 0 auto; }
		.experience {
		    display: grid;
		    grid-template-columns: 1fr 1fr;
		    grid-gap: $gutter;
		    padding: 0 80px;
		}

		.career {
		    display: grid;
		    grid-template-columns: 1fr 1fr;
		    grid-gap: $gutter;

		}

		.container{
			padding: 0 80px;
		}

		.abilities {
		    display: grid;
		    grid-template-columns: 1fr 1fr;
		    grid-gap: $gutter;
		}

		.designation {
		    width: 600px;
		}
		/*FOOTER*/
		.footer-content {
		    height: 80px;
		    width: auto;
		    padding-top: 20px;
		}

	}  /*end-of-960*/




	/* Small Devices, Tablets */ 
	@media only screen and (max-width : 768px) {
		.navbar { width: 100%; margin: 0 auto; }
		.navbar-logo { margin-left: 120px; font-size: 25px; }
		#collapsibleNavbar { margin-right: 50px; font-size: 14px; }
		sup { font-weight: 100; font-size: 15px; margin: 0 5px}

	h1 {
	    font-size: 55px;
	    padding-right: 200px;
	}

	p small {
	    line-height: 15px;

	}

	.fa-chevron-down {
	    margin-top: 150px;
	    padding-right: 70px;
	}

	h1 {
		padding-left:140px;
	}
	header {
		max-width: 100%;
		height: 1024px;
		text-align: center;
		vertical-align: middle;
	}

/*PROFILE*/
	.profile {
	    display: grid;
	    grid-template-columns: 1fr;
	    grid-gap: gutter;
	}
	hr {
    	margin: 0 auto;
    	width: 52%;
    	text-align: center;
    	vertical-align: middle;
    }

	.about-me{
		padding-left: 105px;
    	width: 90%;
	}

	.details {
		padding-left: 105px;		
	}

/*EXPERIENCE*/
	.lead {
		width: 80%;
		padding-left: 170px;
	}
	.experience {
    	display: grid;
    	grid-template-columns: 1fr;
    	padding-left: 174px;
	}
	.course {
		margin-bottom: 25px;
	}
	/*CAREER*/
	.career {
	    display: grid;
	    grid-template-columns: 1fr;
    	padding-left: 174px;	    
	}

	.designation {
    	width: 430px;
   		margin-bottom: 25px; 	
	}

	.abilities {
	    display: grid;
	    grid-template-columns: 1fr;
    	padding-left: 90px;
    	width: 80%;
	}

    .abilities-section {
    	margin: 0 0 50px 0;
    }

	.lead 	{
    	padding-left: 180px;		
	}

/*PORTFOLIO*/

	.portfolio {
	    display: grid;
	    grid-template-columns: 1fr;
    	padding-left: 75px;
    	margin: 0 0 50px 0;
	}
	.portfolio-images {
		width: 65%;
		height: auto;
	}

/*CONTACT*/
	.contact-container {
		width: 80%;
    	padding-left: 180px;
    	margin: 0 0 50px 0;
    }
}  /*end-of-768*-------------------------/


	/* Extra Small Devices, Phones */ 
	@media only screen and (max-width : 380px) {

	header {
	    margin: 0 auto;
	    height: 85vh;
	    width: 100%;
	    text-align: center;
	}
	.header-container { padding: 0; margin: 0; }
	h1 { padding: 0; margin: 0; padding-top: 50px; }
	.fa-chevron-down { margin-top: 50px; padding-right: 70px; }
	hr { width: 300px; margin-top: 10px;}


	/*PROFILE*/
	.profile-section { margin: 0 auto; padding: 0; }
	.lead { width: 375px; padding: 0; margin: 0;  }	
	.profile, .about-me, .details { 
		padding: 0; margin: 0; width: 300px; margin-left: 20px; text-align: justify;
	}

	/*EXPERIENCE*/
	#experience > .lead { 
		width: 300px; margin: 0 auto; 
	}

	.experience, .education-copy, .career,
	.company, .designation {
		padding: 0; margin: 0; width: 300px; margin-left: 20px; text-align: justify;
	}

	.designation {
		margin-bottom: 30px;
	}

	/*ABILITIES*/
	.abilities {
		padding: 0; margin: 0; width: 335px; margin-left: 20px; text-align: justify; vertical-align: middle;
	}

	
	/*PORTFOLIO*/
	.portfolio-section {
		margin: 0; padding: 0; text-align: center;
	}
	.portfolio-section > hr {
		margin-bottom: 30px;	
	}

	#portfolio > .lead { 
		width: 320px; margin: 0 auto; 
	}

	.portfolio > a {
		padding: 0, margin: 0 auto; width: 380px; margin-right: 250px;
		padding-left: 35px;
	}

	.portfolio {
		padding-left: 0px; padding-right: 15px; margin-right: 20px; 
	}
	/*CONTACT*/
	#contact > .lead { 
		width: 320px; margin: 0 auto; 
	}

	.contact-container {
		width: 360px; padding-left: 35px;

	}
	
	/*FOOTER*/
	.made-with {
	    display: flex; width: 360px; color: gray; margin: 0 auto; text-align: center;
	    padding-right: 2px; padding-left: 2px;
	}	

} /*end-of-380*-------------------------/


	/* Medium Devices, Desktops */
/*	@media only screen and (max-width : 992px) {

	}*/

	/* Custom, iPhone Retina */ 
/*	@media only screen and (max-width : 320px) {
		
	}*/

