*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

header {
    background-image: url("../images/heroimage.jpg");
    background-size: cover;
    background-attachment: all;
    max-width: 1280px; 
    display: table; 
    height: 100vh;
    width: 100%;
    text-align: center;
    opacity: 0.65;
    margin: 0 auto;
    background-color: lightblue; 
}

h1 {
    font-size: 55px;
    color: white;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-top: 200px;
}

p small {
    font-size: 15px;
    letter-spacing: 10px;
    margin-left: 0px;
    color: white;
    font-weight: 100;
}

.fa-chevron-down {
    margin-top: 20px;
    width: 8%;
    color: white;
}

h2, h3 {
    font-weight: 300;
    margin: 20px 0px;   
}

h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 80px;
}

h3 {
    font-size: 30px;
}

p {
    font-weight: 300;  
}

hr {
    margin: 0 auto;
    width: 80%;
}

/*NAVIGATION BAR*/
.navbar{
    background-color: #000000; max-width: 1280px; margin: 0 auto;  
}
.navbar-logo { font-family: 'Arial'; font-size: 30px;
    font-weight: semibold; color: white;  margin: 0 50px; }

sup { font-weight: 100; font-size: 18px; margin: 0 5px}

.navbar-nav { margin: 0 50px; }





/*PROFILE*/
.lead {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: #727878;
    margin-bottom: 20px;
}

.container {
    max-width: 1280px;
    padding: 40px 180px;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $gutter;
}

.profile-pix {
    text-align: center;
}

.about-me{
    width: 250px;
}


img {
    width: 200px;
    height: auto;
    margin: 20px 0px; 
}

/*COPY*/
.education-copy, .career-copy,
.skills-copy {
    padding-left: 10px;
}

/*EXPERIENCE*/
.experience-section { background-color: #EDEDED; max-width: 1280px; margin: 0 auto; }
.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: gutter;
}

.career {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: gutter;
}

.abilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: gutter;
}

.designation {
    width: 600px;
}

/*PORTFOLIO*/
.portfolio-section { background-color: #EDEDED; max-width: 1280px; margin: 0 auto; }
.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: gutter;
    padding-top: 20px;
    text-align: center;
}


/*CONTACT*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact-container {
    background-color: none;
    padding: 20px;
    width: 65%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.recommended-section { margin: 80%; }


/*FOOTER*/
footer {
    background: gray-background;
    color: white;
    padding: 40px 0;  
}


.footer-content {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    vertical-align: middle;
}

.made-with {
    width: 30%;
    color: gray;
    margin: 0 auto;
    text-align: center; 
}
